.dashboardNav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 4.5rem;
  list-style: none;
  padding: 0 6rem;
}
.dashboardNav_text {
  font-size: 21px;
  color: #8397ab;
}
.dashboardNav_user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.dashboardNav_user_picture,
.dashboardNav_user_notification {
  width: 2.5rem;
  margin-left: 3rem;
  cursor: pointer;
}
.dashboardNav_user_picture img,
.dashboardNav_user_notification img {
  width: 100%;
}
.dashboardNav_user_menu {
  display: none;
}

/* iPad  Pro*/
@media only screen and (max-width: 1030px) {
  .dashboardNav_user_menu {
    display: flex;
    font-size: 16px;
    color: #8397ab;
    margin-left: 3rem;
    height: 100%;
    cursor: pointer;
  }
}

/* iPad  Pro*/
@media only screen and (max-width: 700px) {
  .dashboardNav {
    padding: 0 1rem;
  }
  .dashboardNav_user_picture {
    display: none;
  }
  .dashboardNav_user_notification {
    margin-left: 1.5rem;
  }
}
