.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}
.nav_back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 32px;
  width: 32px;
  background-color: #eeeff7;
  border-radius: 10px;
}
.icon {
  align-self: center;
  justify-self: center;
}
.nav_sign_in {
  height: 100%;
  font-size: 14px;
}
.nav_sign_in--danger {
  color: #fa4a84;
}
