.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #7e51ff;
  height: 100vh;
  width: 100%;
  padding: 1.5rem 3rem;
}
.sidebar--dark {
  background-color: #1c1335;
}
.sidebar_middle {
  height: 100%;
}
.sidebar_middle_slide {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4rem 0;
}
.sidebar_middle_slide div {
  height: 2px;
  background-color: #fff;
  width: 100%;
}
.sidebar_middle_slide div:not(:first-child) {
  height: 1px;
  margin-left: 0.5rem;
}
.sidebar_middle_text_header {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  color: #fff;
}
.sidebar_middle_text_paragraph {
  color: #fff;
  font-size: 14px;
}
.sidebar_middle_img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 20rem 0;
  position: relative;
  object-fit: contain;
}

.sidebar_bottom {
  color: #fff;
  justify-self: flex-end;
}

@media only screen and (max-width: 1600px) {
  .sidebar_middle_img {
    margin: 7vh 0;
  }
}
