.main_body_middle_form > div:not(:first-child) {
  margin-top: 1.5rem;
}
.main_body_middle_form_full_name_container,
.main_body_middle_form_last_name_container,
.main_body_middle_form_number_container_input,
.main_body_middle_form_email_container {
  position: relative;
  overflow: hidden;
}

.main_body_middle_form_number_container {
  display: flex;
  flex-direction: row;
}
.main_body_middle_form_number_container_input {
  margin-left: 1rem;
  width: 100%;
}
