/* Global Declarations  */
a {
  text-decoration: none;
  color: inherit;
}
html {
  height: -webkit-fill-available;
}
body {
  min-height: -webkit-fill-available;
}
.disappear {
  opacity: 0;
  pointer-events: none;
}
.appear {
  opacity: 1;
  pointer-events: unset;
}
.overlay {
  height: 100vh;
  width: 100vw;
  min-height: -webkit-fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9;
  top: 0;
  background-color: #fff;
  min-height: -webkit-fill-available;
}
.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: -webkit-fill-available;
  min-height: -webkit-fill-available;
}
.sideContent {
  height: 100vh;
}
.main {
  padding: 1.5rem 6rem;
  display: flex;
  justify-items: center;
  align-items: flex-start;
  flex-direction: column;
}
.main_head {
  width: 100%;
}

.main_body {
  display: flex;
  flex-direction: column;
  padding: 8rem 0 0 0;
  width: 25rem;
  justify-self: center;
  align-self: center;
}
.main_body_top_header {
  font-size: 28px;
  color: #1b003b;
  font-weight: 500;
}
.main_body_top_paragraph {
  font-size: 16px;
  color: #8397ab;
}
.main_body_middle {
  padding: 2rem 0;
}
.main_body_middle_form {
  display: flex;
  flex-direction: column;
}
.main_body_bottom button {
  width: 100%;
  height: 50px;
  color: white;
  background-color: #fa4a84;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}
.main_body_bottom button a {
  width: 100%;
}

/* iPad  Pro*/
@media only screen and (max-width: 1030px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .sideContent {
    height: 100%;
  }
  .main {
    padding: 7rem 3rem 15rem 3rem;
  }
  .main_body {
    padding: 7rem 0 0 0;
  }
}

/* Surface Duo */
@media only screen and (max-width: 550px) {
  .main {
    min-height: 64rem;
  }
  .main_body {
    width: 100%;
  }
}
